version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pr_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    environment:
      APP_PORT: 8080
      DB_DSN: "host=db user=postgres password=postgres dbname=pr_db sslmode=disable"
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data:
